# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/

# Docker
*.log
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
